@mixin button {
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    text-align: center;
}
@mixin buttonPrimary {
    background-color: #ffc000;
    flex: 1;
    font-size: 1rem;
}

.product{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 308px;
    box-shadow: 0 2px 8px 0 rgba($color: #000000, $alpha: .2);
    margin: 15px;
    border-radius: 10px;
    li{
        height: auto;
        padding: 7px;
        margin: 7px;
        width: 100%;
        img{
            height: 250px;
            max-height: 250px;
            padding: 15px;
            display: block;
            margin: auto;
        }
        p{
            color: black;
        }
        .product-price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            button{
                cursor: pointer;
                text-align: center;
                border-radius: 5px;
                border: none;
                padding: 10px 20px;
                background-color: #ffc000;
            }
            div{
                text-align: center;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
}

.ReactModal__Content .css-1x3gnuq:first-child{
    position: absolute;
    right: 10px;
    z-index: 100;
}

.product-details{
    display: flex;
    flex-direction: column;
    img{
        display: block;
        margin: auto;
        max-height: 255px;
        max-width: 255px;
    }
    .product-details-description{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .product-price{
        display: flex;
        width: 100%;

        div{
            flex: 1;
        }
        button{
            @include button();
            @include buttonPrimary();
        }
    }
}