@mixin button {
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    text-align: center;
}
@mixin buttonPrimary {
    background-color: #ffc000;
    flex: 1;
    font-size: 1rem;
}

.cart{
    padding: 10px;
    display: flex;
    flex-direction: column;
    .cart-items{
        padding: 0;
        width: 100%;
        list-style: none;
        img{
            width: 100px;
            display: block;
            margin: auto;
        }
        li{
            display: flex;
            div{
                padding: 5px;
                &:last-child{
                    flex: 1;
                }
            }
            .button{
                @include button();
            }
        }
        
    }
    .total{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        div{
            padding-top: 5px;
            flex: 1
        }
        .button{
            @include button();
            @include buttonPrimary();
        }
    }
    form{
        width: 100%;
        .form-container{
            list-style: none;
            padding: 0;
            width: 100%;
            li{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                label{
                    margin-right: 10px;
                }
                input{
                    padding: 10px;
                    border: 1px solid #c0c0c0;
                    border-radius: 5px;
                }
            }
            .button{
                @include button();
                @include buttonPrimary();
            }
        }
    }
}

.cat-header{
    border-bottom: 1px solid #c0c0c0;
}